@media all {
.background { background-color:;
background-image:linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69.28964416837432%, rgba(241,241,241,1) 100%, rgba(241,241,241,1) 100%);
background-image:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69.28964416837432%, rgba(241,241,241,1) 100%, rgba(241,241,241,1) 100%);
background-position:center center;
background-repeat:no-repeat;
background-attachment:fixed;
 }
}

