/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
@font-face {
    font-family: Tiza;
    src: url(../icon-fonts/tiza.ttf);
}

body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    /*background: white ;*/
    color: black ;
    background-image: -webkit-linear-gradient(right, #0f1f29 0%, #0f1f29 0%, #0f1f29 73.7704918%, #0b0d0e 100%, #0b0d0e 100%);

}

/*#preloader {
    background-image: url(/www/images/preloader.gif);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

/* Animacion preloader */

.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  /*width: calc(100% - 200px);*/
  width: 100%;
  color: #FFF;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

.msgCargando{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 100px/2);
    width: 100px;
    font-size: 2em;
    font-weight: bold;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* The animation code */
@keyframes example {
    0%   {color: #000;}
    20%  {color: #888;}
    60%  {color: #FFF;}
    80% {color: #888;}
    100% {color: #000;}
}

/* HEADER */
.header-menu {
  /*padding: 6px;
  position: fixed !important;*/
  clear: both;
  display: flow-root;
  position: relative;
}

.upage-content{
  top: 15px !important;
  position: fixed;
  width: 100%;
}

#page_66_77{
    padding-top: 25px;
}

.itemRadio {
    padding: 0 15px 30px 15px;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1em;
}

.itemRadio h1 {
    color: #333;
    font-weight: bold;
    font-size: 1.3em;
    width: 95%;
}

.itemRadio h2 {
    color: #222;
    font-size: 1.05em;
    margin: 0;
    padding-top: 9px;
}

.senial-offline{
  color: #CC1818 !important;
  font-weight: bold;
}

.btnBackMain {
    padding: 15px;
    color: #ccc;
}

.btnBackMain, .btnExit {
    padding: 15px;
    color: #ccc;
    font-size: 2em;
}

.btnPlayPause{
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    position: relative;
    /*bottom: 15px;
    left: calc(50% - 50px/2);*/
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
}

@media (max-height: 400px){
  .btnPlayPause{
    position: fixed;
  }
}

.play {
    background-image: url('../images/play.png');
}

.pause {
    background-image: url('../images/pause.png');
}

#tituloTransmision{
    font-size: 1.2em;
    margin-bottom: 2em;
    line-height: 1.5em;
    font-weight: bold;
}

#subtituloTransmision {
    margin-bottom: 5em;
    font-size: 1em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.positionCenter{
    top: 190px;
    left: 0;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
}
.botonesSociales {
  text-align: center; display: flow-root;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnSocial{
    padding: 12px;
    font-size: 1.3em;
}
.btnSocial img {
  height: 32px;
}

#btnFacebook{
    background-color: #3f51b5;
    color: #FFF;
}

#btnTwitter{
    background-color: #03a9f4;
    color: #FFF;
}

#btnEmail{
    background-color: #607d8b;
    color: #FFF;
}

#logo_E-kartWebRadio {
  width: 45vw;
}



#msgLoading{
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 68.333%;
    font-size: 3em;
}

.tituloSenial {
    display: flex;
}
.area-logo {
    text-align: center;
    background-color: #FFF;
    border: 4px solid #000;
    width: 100%;
    float: left;
    align-items: stretch;
    padding: 6px;
    /*min-height: 76px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-logo img {
    max-width: 95%;
}

.area-senial {
    background-color:  #FDC004;
    border: 4px solid #000;
    border-left: 0px solid #000;
    width: 50%;
    float: left;
    align-items: stretch;
    position: relative;
}

.senial{
    font-family: Tiza;
    font-size: 10vw;
    color: #FFF;
    transform: translateX(-50%) translateY(-50%) rotate(15deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(15deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(15deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(15deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(15deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

@media (min-width: 700px){
  .senial{
    font-size: 5vw;
  }
}

#logos{
  position: relative;
}

#reproductor-senial{
    font-family: Tiza;
    font-size: 56px;
    color: #fdc400;
    transform: translateX(-50%) translateY(-50%) rotate(15deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(15deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(15deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(15deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(15deg);
    position: absolute;
    bottom: -45px;
    right: 0;
}

#menuInterno {
    width: 38px;
    float: right;
    margin: 5px;
}

#menuInterno ul > li {
      width: 100%;
}
@media (min-width: 600px) and (max-width: 800px){
  #logo_E-kartWebRadio {
    width: 50vw;
  }
  #reproductor-senial{
    transform: translateX(-200%) translateY(-50%) rotate(15deg);
    -webkit-transform: translateX(-200%) translateY(-50%) rotate(15deg);
    -moz-transform: translateX(-200%) translateY(-50%) rotate(15deg);
    -ms-transform: translateX(-200%) translateY(-50%) rotate(15deg);
    -o-transform: translateX(-200%) translateY(-50%) rotate(15deg);
  }
}
@media (min-width: 800px) {
  #logo_E-kartWebRadio {
    width: 30vw;
  }

  #reproductor-senial{
    transform: translateX(-500%) translateY(-50%) rotate(15deg);
    -webkit-transform: translateX(-500%) translateY(-50%) rotate(15deg);
    -moz-transform: translateX(-500%) translateY(-50%) rotate(15deg);
    -ms-transform: translateX(-500%) translateY(-50%) rotate(15deg);
    -o-transform: translateX(-500%) translateY(-50%) rotate(15deg);
  }
}