/* sliderPublicidades.css */
#publicidades-reproductor {
  position: relative;
  overflow: hidden;
  display: flow-root;
  height: 50px;
}

#publicidades-reproductor ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#publicidades-reproductor ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ccc;
  text-align: center;
}

#publicidades-reproductor ul li img{
	max-height: 50px;
}